snippet dc_header "dc header" bw
#!/usr/bin/env python
"""
    Created by howie.hu at `!v strftime('%Y-%m-%d')`.
    Description：$0
    Changelog: all notable changes to this file will be documented
"""
endsnippet

snippet ipdb "ipdb" bw
import ipdb; ipdb.set_trace($0)
endsnippet
